pandas project

In [2]:
import pandas as pd

In [3]:
data = pd.read_csv('GSAF5.csv', encoding = "ISO-8859-1")
data.head()

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2016.09.18.c,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,...,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.c-NSB.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.18.c,2016.09.18.c,5993,NaN,NaN
1,2016.09.18.b,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,Chucky Luciano,M,...,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.b-Luciano.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.18.b,2016.09.18.b,5992,NaN,NaN
2,2016.09.18.a,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,...,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.a-NSB.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.18.a,2016.09.18.a,5991,NaN,NaN
3,2016.09.17,17-Sep-16,2016,Unprovoked,AUSTRALIA,Victoria,Thirteenth Beach,Surfing,Rory Angiolella,M,...,NaN,"The Age, 9/18/2016",2016.09.17-Angiolella.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.17,2016.09.17,5990,NaN,NaN
4,2016.09.15,16-Sep-16,2016,Unprovoked,AUSTRALIA,Victoria,Bells Beach,Surfing,male,M,...,2 m shark,"The Age, 9/16/2016",2016.09.16-BellsBeach.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.16,2016.09.15,5989,NaN,NaN

la importación daba un error:
UnicodeDecodeError: 'utf-8' codec can't decode byte 0x92 in position 1: invalid start byte
Busqué este error y di con la solución en stackoverflow, que era añadir 'encoding = "ISO-8859-1"' como argumento al llamar a pd.read_csv

In [20]:
data.count()

Case Number               5992
Date                      5992
Year                      5992
Type                      5992
Country                   5949
Area                      5590
Location                  5496
Activity                  5465
Name                      5792
Sex                       5425
Age                       3311
Injury                    5965
Fatal (Y/N)               5973
Time                      2779
Species                   3058
Investigator or Source    5977
pdf                       5992
href formula              5991
href                      5989
Case Number.1             5992
Case Number.2             5992
original order            5992
Unnamed: 22                  1
Unnamed: 23                  2
dtype: int64

In [9]:
#vemos las columnas que tenemos y cuántos valores null tienen
null_cols = data.isnull().sum()
null_cols

Case Number                  0
Date                         0
Year                         0
Type                         0
Country                     43
Area                       402
Location                   496
Activity                   527
Name                       200
Sex                        567
Age                       2681
Injury                      27
Fatal (Y/N)                 19
Time                      3213
Species                   2934
Investigator or Source      15
pdf                          0
href formula                 1
href                         3
Case Number.1                0
Case Number.2                0
original order               0
Unnamed: 22               5991
Unnamed: 23               5990
dtype: int64

In [ ]:
# cosas que vemos:
# columnas Unnamed:22 y Unnamed:23 son todo nulls, por lo que habría que eliminarlas
# columnas con información redundante, como las fechas. nos valdría con Year, no necesitamos Date
# de la misma manera, con Country nos vale, no necesitamos Area ni Location
# podríamos hacer estudio por países. en la gráfica mostraría solo los países en los que más ataques se producen
# el campo Activity me parece interesante
# voy a conservar el campo Fatal (Y/N)
# estudiaremos solamente un periodo de varias décadas
# estaría bien usar RegEx

In [30]:
data.groupby("Type").count()[["Case Number"]]

              Case Number
Type
Boat                  200
Boating               110
Invalid               519
Provoked              557
Sea Disaster          220
Unprovoked           4386

In [31]:
data.groupby("Year").count()[["Case Number"]]

      Case Number
Year
0             124
5               1
77              1
500             1
1543            1
1554            1
1555            1
1580            1
1595            1
1617            1
1637            1
1638            1
1642            2
1700            3
1703            1
1721            1
1733            1
1738            1
1742            1
1748            1
1749            1
1755            1
1758            1
1764            1
1767            1
1771            1
1776            2
1779            1
1785            1
1787            1
...           ...
1987           35
1988           55
1989           53
1990           38
1991           38
1992           56
1993           56
1994           56
1995           76
1996           61
1997           57
1998           65
1999           65
2000           97
2001           92
2002           88
2003           92
2004           92
2005          103
2006          103
2007          112
2008          121
2009          120
2010          101
2011          128
2012          117
2013          122
2014          125
2015          139
2016          103

[232 rows x 1 columns]